extends ../layout


block content
    - var id = 0;
    .container
        .row
            .col-sm-8
                h2(class="m-5") Welcome to #{title} Api
            .col-sm-4
                a(href="/api/faculty/add", class="btn btn-success m-5") Add Faculty Member 
        table.table 
            thead 
                tr  
                    th #
                    th Name 
                    th Gender
                    th Email  
                    th Street Address
                    th City
                    th Country
                    th CourseCode
                    th PhoneNo
                    th Actions
                tbody   
                    each member in faculty 
                        tr 
                            td= ++id 
                            td= member.name 
                            td= member.gender
                            td= member.email 
                            td= member.address.street_address
                            td= member.address.city 
                            td= member.address.country
                            td= member.courseCode
                            td 
                                ul#phone-list
                                    each val in member.phoneNo
                                        li= val
                            td
                                a(href="/api/faculty/delete/"+member._id , class="btn btn-danger m-1") Delete
                                a(href="/api/faculty/edit/"+member._id , class="btn btn-warning m-1") Edit 